# Introduction to Database - SQL

_June 29, 2020_

Agenda today:
- Overview of databases
- Discuss Differences between SQL DBs
- Explain the basic structures of a RDBMS
- Instantiate SQLite DB instance on your computer & perform queries

Learning Goals:
- Explain the motivations and usage of different databases
- Create a sqlite instance and perform different queries:
    - Selecting
    - Filtering & Ordering
    - Grouping
    - Join

<img src="https://media.giphy.com/media/vzO0Vc8b2VBLi/giphy.gif" width = 300;>

In [1]:
import pandas as pd
import numpy as np
import sqlite3

## Part I. Overview of Database

### What is a Database?
- In general, databases store sets of data that can be queried for use in other applications. A database management system supports the development, administration and use of database platforms.

### What is a Relational Database? 
- An relational database management system (RDBMS) is a type of DBMS with a row-based table structure that connects related data elements and includes functions that maintain the security, accuracy, integrity and consistency of the data.
- The most basic RDBMS functions are related to create, read, update and delete operations, collectively known as CRUD.

### What is SQL?

- SQL (usually pronounced like the word “sequel”) stands for Structured Query Language.
- A programming language used to communicate with data stored in a relational database management system.
- SQL syntax is similar to the English language, which makes it relatively easy to write, read, and interpret.

## Part II. POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

### SQLite

- SQLite is a popular open source SQL database. 
- It can store an entire database in a single file.
- It is 'lite' because it is not server based.
- Does not have many features of server-based RDBMS like users and permissions.
- Great to get up and running quick, not good for complex projects.

### MySQL

- MySQL is the most popular open source SQL database. 
- It is typically used for web application development, and often accessed using PHP. 
- It is easy to use, inexpensive, reliable and has a large community of developers who can help answer questions.
- Open source development has lagged since Oracle has taken control of MySQL.
- Has been known to suffer from poor performance when scaling, 
- Does not include some advanced features that developers may be used to.

### PostgreSQL

- PostgreSQL is an open-source SQL database that is not controlled by any corporation.
- PostgreSQL shares many of the same advantages of MySQL.
- It is slower in performance than other databases such as MySQL
- Harder to come by hosts or service providers that offer managed PostgreSQL instances. 

### Oracle DB

- Owned by Oracle Corporation, and the code is not open sourced. 
- Oracle DB is for large applications, particularly in the banking industry. 
- The main disadvantage of using Oracle is that it is not free.

### SQL Server

- Microsoft owns SQL Server. 
- Large enterprise applications mostly use SQL Server.
- Microsoft offers a free entry-level version called Express but can become very expensive as you scale your application.

## Part III. Structures of RDBMS
- Tables
- Indexes
- Triggers

#### Tables
Tables are used to store data within the database.  They are its main component and without them, the database would serve little purpose. 

- Tables can have hundreds, thousands, sometimes even millions of rows of data. These rows are often called **records**.
- The consists of **columns** of data that are labeled with a descriptive name (say, age for example) and have a specific data type.

### Indexes
Indexes are used to make data retrieval faster. Rather than having to scan an entire table for data, an index allows the database to, essentially, directly retrieve the data being asked of it.

Indexes are primariy created using using a **Primary Key**.
A primary key’s main features are:

- It must contain a unique value for each row of data.
- It cannot contain null values.

A primary key is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

**Question for You**

If you were a tax accountant and you wanted to create a database of your clients, which of the following columns who be a good choice for your primary key?

- First Name
- Last Name
- Email Address
- SSN
- Phone Number

### Triggers

Triggers are special instructions that are executed when important events, such as inserting or updating records in a table happen. The most common triggers are Insert, Update, and Delete triggers.  

Two items define a trigger on a table: a stored procedure and an event, such as inserting a record that invokes its execution.

## Part IV. Working with SQLite in Python

SQLite comes standard with Python so all you need to do to get it set up is write:

`import sqlite3`

### Creating a Connection

Before you can do anything with your DB, you must first create a connection with it. For DBs that are server based, this can be more coplicated requiring you to know the server ip, a username, password database name, and port. 
``` python 
import sqlite3
conn = sqlite3.connect(db=db)
```

In [4]:
## instantiate a sql instance on your local computer 
import sqlite3

# we then need to establish a connection object that represent the database
conn = sqlite3.connect('first_db.db')

# we then create a cursor that allow us to interact with, and create sql commands
c = conn.cursor()

In [5]:
!ls

Data_Viz-EunjooB.ipynb                Statistics_Fundamentals.ipynb
Data_Viz.ipynb                        adult.data
Intro_to_SQL.ipynb                    aq.csv
Intro_to_SQL_EunjooB.ipynb            auto-mpg.csv
Pandas_I-EunjooB.ipynb                first_db.db
Pandas_I.ipynb                        images
Pandas_II-EunjooB.ipynb               merge.png
Pandas_II.ipynb                       readme.md
Pandas_III.ipynb                      skew.png
Python_Fundamentals-EunjooB.ipynb     stack.png
Python_Fundamentals.ipynb             unstack.png
Statistics_Fundamentals-EunjooB.ipynb

#### Selecting 

Syntax:

`SELECT * From tables`

In [6]:
# to execute a command use c.execute(query)
query = """CREATE TABLE students (
            first_name text,
            birth_date text,
            num_siblings integer
            )"""
c.execute(query)

OperationalError: table students already exists

In [7]:
# insert some values into it 
query = """INSERT INTO students 
            VALUES('Hannah Parker','12-03',1)"""
c.execute(query)
conn.commit()

In [8]:
# write a query that insert your information into it - student 1
query = """INSERT INTO students
                VALUES ('Eunjoo Byeon', '02-01', 1)"""
c.execute(query)
conn.commit()

In [9]:
# write a query that insert your information into it - student 2
query = """INSERT INTO students
                VALUES ('Paul Torres', '05-08', 2)"""
c.execute(query)
conn.commit()

In [10]:
# write a query that insert your information into it - student 3
query = """INSERT INTO students
                VALUES('Eric Adsetts', '12-12', 2)"""
c.execute(query)
conn.commit()

In [77]:
### optional level up - write a loop that dynamically put a dictionary or a list into the table in db

student_info = {"name":["name 1","name 2","name 3","name 4"],
               "birth_date":["bday1", "bday2", "bday3", "bday4"],
               "num_siblings":["1", "2", "1", "0"]}

for i in range(0, len(student_info['name'])):
    name = student_info['name'][i]
    birthday = student_info['birth_date'][i]
    num_sibling = student_info['num_siblings'][i]
    c.execute("""INSERT INTO students 
                    VALUES ('{}', '{}', '{}')""".format(name, birthday, num_sibling))
    conn.commit()
    
### or we can do ...
student_info = [['name1', 'bday1', 1], ['name2', 'bday2', 2], ['name3', 'bday3', 0]]
for val in student_info:
    c.execute("""INSERT INTO students 
                    VALUES ('{}', '{}', '{}')""".format(val[0], val[1], val[2]))
    conn.commit()

In [78]:
c.execute('''SELECT * FROM students''').fetchall()

[('Hannah Parker', '12-03', 1),
 ('Eunjoo Byeon', '02-01', 1),
 ('Paul Torres', '05-08', 2),
 ('Eric Adsetts', '12-12', 2),
 ('name 1', 'bday1', 1),
 ('name 2', 'bday2', 2),
 ('name 3', 'bday3', 1),
 ('name 4', 'bday4', 0),
 ('name 1', 'bday1', 1),
 ('name 2', 'bday2', 2),
 ('name 3', 'bday3', 1),
 ('name 4', 'bday4', 0),
 ('name1', 'bday1', 1),
 ('name2', 'bday2', 2),
 ('name3', 'bday3', 0),
 ('name1', 'bday1', 1),
 ('name2', 'bday2', 2),
 ('name3', 'bday3', 0)]

In [11]:
# selecting 
query = """SELECT * FROM students"""
c.execute(query)
c.fetchall()

[('Hannah Parker', '12-03', 1),
 ('Eunjoo Byeon', '02-01', 1),
 ('Paul Torres', '05-08', 2),
 ('Eric Adsetts', '12-12', 2)]

In [12]:
# let's insert some tables into sql and perform some queries!
auto = pd.read_csv('auto-mpg.csv')
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [17]:
# filter out irregulr entries and clean up the data before putting into database!!!
auto = auto[auto.horsepower != "?"]
auto.horsepower = auto.horsepower.astype('int64')

In [18]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 9 columns):
mpg             392 non-null float64
cylinders       392 non-null int64
displacement    392 non-null float64
horsepower      392 non-null int64
weight          392 non-null int64
acceleration    392 non-null float64
model year      392 non-null int64
origin          392 non-null int64
car name        392 non-null object
dtypes: float64(3), int64(5), object(1)
memory usage: 30.6+ KB

In [19]:
auto.to_sql('auto', con = conn)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [20]:
# get all of the entries
c.execute("""select * from auto""").fetchall()

[(0, 18.0, 8, 307.0, 130, 3504, 12.0, 70, 1, 'chevrolet chevelle malibu'),
 (1, 15.0, 8, 350.0, 165, 3693, 11.5, 70, 1, 'buick skylark 320'),
 (2, 18.0, 8, 318.0, 150, 3436, 11.0, 70, 1, 'plymouth satellite'),
 (3, 16.0, 8, 304.0, 150, 3433, 12.0, 70, 1, 'amc rebel sst'),
 (4, 17.0, 8, 302.0, 140, 3449, 10.5, 70, 1, 'ford torino'),
 (5, 15.0, 8, 429.0, 198, 4341, 10.0, 70, 1, 'ford galaxie 500'),
 (6, 14.0, 8, 454.0, 220, 4354, 9.0, 70, 1, 'chevrolet impala'),
 (7, 14.0, 8, 440.0, 215, 4312, 8.5, 70, 1, 'plymouth fury iii'),
 (8, 14.0, 8, 455.0, 225, 4425, 10.0, 70, 1, 'pontiac catalina'),
 (9, 15.0, 8, 390.0, 190, 3850, 8.5, 70, 1, 'amc ambassador dpl'),
 (10, 15.0, 8, 383.0, 170, 3563, 10.0, 70, 1, 'dodge challenger se'),
 (11, 14.0, 8, 340.0, 160, 3609, 8.0, 70, 1, "plymouth 'cuda 340"),
 (12, 15.0, 8, 400.0, 150, 3761, 9.5, 70, 1, 'chevrolet monte carlo'),
 (13, 14.0, 8, 455.0, 225, 3086, 10.0, 70, 1, 'buick estate wagon (sw)'),
 (14, 24.0, 4, 113.0, 95, 2372, 15.0, 70, 3, 'toyota corona mark ii'),
 (15, 22.0, 6, 198.0, 95, 2833, 15.5, 70, 1, 'plymouth duster'),
 (16, 18.0, 6, 199.0, 97, 2774, 15.5, 70, 1, 'amc hornet'),
 (17, 21.0, 6, 200.0, 85, 2587, 16.0, 70, 1, 'ford maverick'),
 (18, 27.0, 4, 97.0, 88, 2130, 14.5, 70, 3, 'datsun pl510'),
 (19, 26.0, 4, 97.0, 46, 1835, 20.5, 70, 2, 'volkswagen 1131 deluxe sedan'),
 (20, 25.0, 4, 110.0, 87, 2672, 17.5, 70, 2, 'peugeot 504'),
 (21, 24.0, 4, 107.0, 90, 2430, 14.5, 70, 2, 'audi 100 ls'),
 (22, 25.0, 4, 104.0, 95, 2375, 17.5, 70, 2, 'saab 99e'),
 (23, 26.0, 4, 121.0, 113, 2234, 12.5, 70, 2, 'bmw 2002'),
 (24, 21.0, 6, 199.0, 90, 2648, 15.0, 70, 1, 'amc gremlin'),
 (25, 10.0, 8, 360.0, 215, 4615, 14.0, 70, 1, 'ford f250'),
 (26, 10.0, 8, 307.0, 200, 4376, 15.0, 70, 1, 'chevy c20'),
 (27, 11.0, 8, 318.0, 210, 4382, 13.5, 70, 1, 'dodge d200'),
 (28, 9.0, 8, 304.0, 193, 4732, 18.5, 70, 1, 'hi 1200d'),
 (29, 27.0, 4, 97.0, 88, 2130, 14.5, 71, 3, 'datsun pl510'),
 (30, 28.0, 4, 140.0, 90, 2264, 15.5, 71, 1, 'chevrolet vega 2300'),
 (31, 25.0, 4, 113.0, 95, 2228, 14.0, 71, 3, 'toyota corona'),
 (33, 19.0, 6, 232.0, 100, 2634, 13.0, 71, 1, 'amc gremlin'),
 (34, 16.0, 6, 225.0, 105, 3439, 15.5, 71, 1, 'plymouth satellite custom'),
 (35, 17.0, 6, 250.0, 100, 3329, 15.5, 71, 1, 'chevrolet chevelle malibu'),
 (36, 19.0, 6, 250.0, 88, 3302, 15.5, 71, 1, 'ford torino 500'),
 (37, 18.0, 6, 232.0, 100, 3288, 15.5, 71, 1, 'amc matador'),
 (38, 14.0, 8, 350.0, 165, 4209, 12.0, 71, 1, 'chevrolet impala'),
 (39, 14.0, 8, 400.0, 175, 4464, 11.5, 71, 1, 'pontiac catalina brougham'),
 (40, 14.0, 8, 351.0, 153, 4154, 13.5, 71, 1, 'ford galaxie 500'),
 (41, 14.0, 8, 318.0, 150, 4096, 13.0, 71, 1, 'plymouth fury iii'),
 (42, 12.0, 8, 383.0, 180, 4955, 11.5, 71, 1, 'dodge monaco (sw)'),
 (43, 13.0, 8, 400.0, 170, 4746, 12.0, 71, 1, 'ford country squire (sw)'),
 (44, 13.0, 8, 400.0, 175, 5140, 12.0, 71, 1, 'pontiac safari (sw)'),
 (45, 18.0, 6, 258.0, 110, 2962, 13.5, 71, 1, 'amc hornet sportabout (sw)'),
 (46, 22.0, 4, 140.0, 72, 2408, 19.0, 71, 1, 'chevrolet vega (sw)'),
 (47, 19.0, 6, 250.0, 100, 3282, 15.0, 71, 1, 'pontiac firebird'),
 (48, 18.0, 6, 250.0, 88, 3139, 14.5, 71, 1, 'ford mustang'),
 (49, 23.0, 4, 122.0, 86, 2220, 14.0, 71, 1, 'mercury capri 2000'),
 (50, 28.0, 4, 116.0, 90, 2123, 14.0, 71, 2, 'opel 1900'),
 (51, 30.0, 4, 79.0, 70, 2074, 19.5, 71, 2, 'peugeot 304'),
 (52, 30.0, 4, 88.0, 76, 2065, 14.5, 71, 2, 'fiat 124b'),
 (53, 31.0, 4, 71.0, 65, 1773, 19.0, 71, 3, 'toyota corolla 1200'),
 (54, 35.0, 4, 72.0, 69, 1613, 18.0, 71, 3, 'datsun 1200'),
 (55, 27.0, 4, 97.0, 60, 1834, 19.0, 71, 2, 'volkswagen model 111'),
 (56, 26.0, 4, 91.0, 70, 1955, 20.5, 71, 1, 'plymouth cricket'),
 (57, 24.0, 4, 113.0, 95, 2278, 15.5, 72, 3, 'toyota corona hardtop'),
 (58, 25.0, 4, 97.5, 80, 2126, 17.0, 72, 1, 'dodge colt hardtop'),
 (59, 23.0, 4, 97.0, 54, 2254, 23.5, 72, 2, 'volkswagen type 3'),
 (60, 20.0, 4, 140.0, 90, 2408, 19.5, 72, 1, 'chevrolet vega'),
 (61, 21.0, 4, 122.0, 86, 2226, 16.5, 72, 1, 'ford pinto runabout'),
 (62, 13.0, 8, 350.0, 165, 4274, 12.0, 72, 1, 'chevrolet impala'),
 (63, 14.0, 8, 400.0, 175, 4385, 12.0, 72, 1, 'pontiac catalina'),
 (64, 15.0, 8, 318.0, 150, 4135, 13.5, 72, 1, 'plymouth fury iii'),
 (65, 14.0, 8, 351.0, 153, 4129, 13.0, 72, 1, 'ford galaxie 500'),
 (66, 17.0, 8, 304.0, 150, 3672, 11.5, 72, 1, 'amc ambassador sst'),
 (67, 11.0, 8, 429.0, 208, 4633, 11.0, 72, 1, 'mercury marquis'),
 (68, 13.0, 8, 350.0, 155, 4502, 13.5, 72, 1, 'buick lesabre custom'),
 (69, 12.0, 8, 350.0, 160, 4456, 13.5, 72, 1, 'oldsmobile delta 88 royale'),
 (70, 13.0, 8, 400.0, 190, 4422, 12.5, 72, 1, 'chrysler newport royal'),
 (71, 19.0, 3, 70.0, 97, 2330, 13.5, 72, 3, 'mazda rx2 coupe'),
 (72, 15.0, 8, 304.0, 150, 3892, 12.5, 72, 1, 'amc matador (sw)'),
 (73,
  13.0,
  8,
  307.0,
  130,
  4098,
  14.0,
  72,
  1,
  'chevrolet chevelle concours (sw)'),
 (74, 13.0, 8, 302.0, 140, 4294, 16.0, 72, 1, 'ford gran torino (sw)'),
 (75,
  14.0,
  8,
  318.0,
  150,
  4077,
  14.0,
  72,
  1,
  'plymouth satellite custom (sw)'),
 (76, 18.0, 4, 121.0, 112, 2933, 14.5, 72, 2, 'volvo 145e (sw)'),
 (77, 22.0, 4, 121.0, 76, 2511, 18.0, 72, 2, 'volkswagen 411 (sw)'),
 (78, 21.0, 4, 120.0, 87, 2979, 19.5, 72, 2, 'peugeot 504 (sw)'),
 (79, 26.0, 4, 96.0, 69, 2189, 18.0, 72, 2, 'renault 12 (sw)'),
 (80, 22.0, 4, 122.0, 86, 2395, 16.0, 72, 1, 'ford pinto (sw)'),
 (81, 28.0, 4, 97.0, 92, 2288, 17.0, 72, 3, 'datsun 510 (sw)'),
 (82, 23.0, 4, 120.0, 97, 2506, 14.5, 72, 3, 'toyouta corona mark ii (sw)'),
 (83, 28.0, 4, 98.0, 80, 2164, 15.0, 72, 1, 'dodge colt (sw)'),
 (84, 27.0, 4, 97.0, 88, 2100, 16.5, 72, 3, 'toyota corolla 1600 (sw)'),
 (85, 13.0, 8, 350.0, 175, 4100, 13.0, 73, 1, 'buick century 350'),
 (86, 14.0, 8, 304.0, 150, 3672, 11.5, 73, 1, 'amc matador'),
 (87, 13.0, 8, 350.0, 145, 3988, 13.0, 73, 1, 'chevrolet malibu'),
 (88, 14.0, 8, 302.0, 137, 4042, 14.5, 73, 1, 'ford gran torino'),
 (89, 15.0, 8, 318.0, 150, 3777, 12.5, 73, 1, 'dodge coronet custom'),
 (90, 12.0, 8, 429.0, 198, 4952, 11.5, 73, 1, 'mercury marquis brougham'),
 (91, 13.0, 8, 400.0, 150, 4464, 12.0, 73, 1, 'chevrolet caprice classic'),
 (92, 13.0, 8, 351.0, 158, 4363, 13.0, 73, 1, 'ford ltd'),
 (93, 14.0, 8, 318.0, 150, 4237, 14.5, 73, 1, 'plymouth fury gran sedan'),
 (94, 13.0, 8, 440.0, 215, 4735, 11.0, 73, 1, 'chrysler new yorker brougham'),
 (95, 12.0, 8, 455.0, 225, 4951, 11.0, 73, 1, 'buick electra 225 custom'),
 (96, 13.0, 8, 360.0, 175, 3821, 11.0, 73, 1, 'amc ambassador brougham'),
 (97, 18.0, 6, 225.0, 105, 3121, 16.5, 73, 1, 'plymouth valiant'),
 (98, 16.0, 6, 250.0, 100, 3278, 18.0, 73, 1, 'chevrolet nova custom'),
 (99, 18.0, 6, 232.0, 100, 2945, 16.0, 73, 1, 'amc hornet'),
 (100, 18.0, 6, 250.0, 88, 3021, 16.5, 73, 1, 'ford maverick'),
 (101, 23.0, 6, 198.0, 95, 2904, 16.0, 73, 1, 'plymouth duster'),
 (102, 26.0, 4, 97.0, 46, 1950, 21.0, 73, 2, 'volkswagen super beetle'),
 (103, 11.0, 8, 400.0, 150, 4997, 14.0, 73, 1, 'chevrolet impala'),
 (104, 12.0, 8, 400.0, 167, 4906, 12.5, 73, 1, 'ford country'),
 (105, 13.0, 8, 360.0, 170, 4654, 13.0, 73, 1, 'plymouth custom suburb'),
 (106, 12.0, 8, 350.0, 180, 4499, 12.5, 73, 1, 'oldsmobile vista cruiser'),
 (107, 18.0, 6, 232.0, 100, 2789, 15.0, 73, 1, 'amc gremlin'),
 (108, 20.0, 4, 97.0, 88, 2279, 19.0, 73, 3, 'toyota carina'),
 (109, 21.0, 4, 140.0, 72, 2401, 19.5, 73, 1, 'chevrolet vega'),
 (110, 22.0, 4, 108.0, 94, 2379, 16.5, 73, 3, 'datsun 610'),
 (111, 18.0, 3, 70.0, 90, 2124, 13.5, 73, 3, 'maxda rx3'),
 (112, 19.0, 4, 122.0, 85, 2310, 18.5, 73, 1, 'ford pinto'),
 (113, 21.0, 6, 155.0, 107, 2472, 14.0, 73, 1, 'mercury capri v6'),
 (114, 26.0, 4, 98.0, 90, 2265, 15.5, 73, 2, 'fiat 124 sport coupe'),
 (115, 15.0, 8, 350.0, 145, 4082, 13.0, 73, 1, 'chevrolet monte carlo s'),
 (116, 16.0, 8, 400.0, 230, 4278, 9.5, 73, 1, 'pontiac grand prix'),
 (117, 29.0, 4, 68.0, 49, 1867, 19.5, 73, 2, 'fiat 128'),
 (118, 24.0, 4, 116.0, 75, 2158, 15.5, 73, 2, 'opel manta'),
 (119, 20.0, 4, 114.0, 91, 2582, 14.0, 73, 2, 'audi 100ls'),
 (120, 19.0, 4, 121.0, 112, 2868, 15.5, 73, 2, 'volvo 144ea'),
 (121, 15.0, 8, 318.0, 150, 3399, 11.0, 73, 1, 'dodge dart custom'),
 (122, 24.0, 4, 121.0, 110, 2660, 14.0, 73, 2, 'saab 99le'),
 (123, 20.0, 6, 156.0, 122, 2807, 13.5, 73, 3, 'toyota mark ii'),
 (124, 11.0, 8, 350.0, 180, 3664, 11.0, 73, 1, 'oldsmobile omega'),
 (125, 20.0, 6, 198.0, 95, 3102, 16.5, 74, 1, 'plymouth duster'),
 (127, 19.0, 6, 232.0, 100, 2901, 16.0, 74, 1, 'amc hornet'),
 (128, 15.0, 6, 250.0, 100, 3336, 17.0, 74, 1, 'chevrolet nova'),
 (129, 31.0, 4, 79.0, 67, 1950, 19.0, 74, 3, 'datsun b210'),
 (130, 26.0, 4, 122.0, 80, 2451, 16.5, 74, 1, 'ford pinto'),
 (131, 32.0, 4, 71.0, 65, 1836, 21.0, 74, 3, 'toyota corolla 1200'),
 (132, 25.0, 4, 140.0, 75, 2542, 17.0, 74, 1, 'chevrolet vega'),
 (133,
  16.0,
  6,
  250.0,
  100,
  3781,
  17.0,
  74,
  1,
  'chevrolet chevelle malibu classic'),
 (134, 16.0, 6, 258.0, 110, 3632, 18.0, 74, 1, 'amc matador'),
 (135, 18.0, 6, 225.0, 105, 3613, 16.5, 74, 1, 'plymouth satellite sebring'),
 (136, 16.0, 8, 302.0, 140, 4141, 14.0, 74, 1, 'ford gran torino'),
 (137, 13.0, 8, 350.0, 150, 4699, 14.5, 74, 1, 'buick century luxus (sw)'),
 (138, 14.0, 8, 318.0, 150, 4457, 13.5, 74, 1, 'dodge coronet custom (sw)'),
 (139, 14.0, 8, 302.0, 140, 4638, 16.0, 74, 1, 'ford gran torino (sw)'),
 (140, 14.0, 8, 304.0, 150, 4257, 15.5, 74, 1, 'amc matador (sw)'),
 (141, 29.0, 4, 98.0, 83, 2219, 16.5, 74, 2, 'audi fox'),
 (142, 26.0, 4, 79.0, 67, 1963, 15.5, 74, 2, 'volkswagen dasher'),
 (143, 26.0, 4, 97.0, 78, 2300, 14.5, 74, 2, 'opel manta'),
 (144, 31.0, 4, 76.0, 52, 1649, 16.5, 74, 3, 'toyota corona'),
 (145, 32.0, 4, 83.0, 61, 2003, 19.0, 74, 3, 'datsun 710'),
 (146, 28.0, 4, 90.0, 75, 2125, 14.5, 74, 1, 'dodge colt'),
 (147, 24.0, 4, 90.0, 75, 2108, 15.5, 74, 2, 'fiat 128'),
 (148, 26.0, 4, 116.0, 75, 2246, 14.0, 74, 2, 'fiat 124 tc'),
 (149, 24.0, 4, 120.0, 97, 2489, 15.0, 74, 3, 'honda civic'),
 (150, 26.0, 4, 108.0, 93, 2391, 15.5, 74, 3, 'subaru'),
 (151, 31.0, 4, 79.0, 67, 2000, 16.0, 74, 2, 'fiat x1.9'),
 (152, 19.0, 6, 225.0, 95, 3264, 16.0, 75, 1, 'plymouth valiant custom'),
 (153, 18.0, 6, 250.0, 105, 3459, 16.0, 75, 1, 'chevrolet nova'),
 (154, 15.0, 6, 250.0, 72, 3432, 21.0, 75, 1, 'mercury monarch'),
 (155, 15.0, 6, 250.0, 72, 3158, 19.5, 75, 1, 'ford maverick'),
 (156, 16.0, 8, 400.0, 170, 4668, 11.5, 75, 1, 'pontiac catalina'),
 (157, 15.0, 8, 350.0, 145, 4440, 14.0, 75, 1, 'chevrolet bel air'),
 (158, 16.0, 8, 318.0, 150, 4498, 14.5, 75, 1, 'plymouth grand fury'),
 (159, 14.0, 8, 351.0, 148, 4657, 13.5, 75, 1, 'ford ltd'),
 (160, 17.0, 6, 231.0, 110, 3907, 21.0, 75, 1, 'buick century'),
 (161, 16.0, 6, 250.0, 105, 3897, 18.5, 75, 1, 'chevroelt chevelle malibu'),
 (162, 15.0, 6, 258.0, 110, 3730, 19.0, 75, 1, 'amc matador'),
 (163, 18.0, 6, 225.0, 95, 3785, 19.0, 75, 1, 'plymouth fury'),
 (164, 21.0, 6, 231.0, 110, 3039, 15.0, 75, 1, 'buick skyhawk'),
 (165, 20.0, 8, 262.0, 110, 3221, 13.5, 75, 1, 'chevrolet monza 2+2'),
 (166, 13.0, 8, 302.0, 129, 3169, 12.0, 75, 1, 'ford mustang ii'),
 (167, 29.0, 4, 97.0, 75, 2171, 16.0, 75, 3, 'toyota corolla'),
 (168, 23.0, 4, 140.0, 83, 2639, 17.0, 75, 1, 'ford pinto'),
 (169, 20.0, 6, 232.0, 100, 2914, 16.0, 75, 1, 'amc gremlin'),
 (170, 23.0, 4, 140.0, 78, 2592, 18.5, 75, 1, 'pontiac astro'),
 (171, 24.0, 4, 134.0, 96, 2702, 13.5, 75, 3, 'toyota corona'),
 (172, 25.0, 4, 90.0, 71, 2223, 16.5, 75, 2, 'volkswagen dasher'),
 (173, 24.0, 4, 119.0, 97, 2545, 17.0, 75, 3, 'datsun 710'),
 (174, 18.0, 6, 171.0, 97, 2984, 14.5, 75, 1, 'ford pinto'),
 (175, 29.0, 4, 90.0, 70, 1937, 14.0, 75, 2, 'volkswagen rabbit'),
 (176, 19.0, 6, 232.0, 90, 3211, 17.0, 75, 1, 'amc pacer'),
 (177, 23.0, 4, 115.0, 95, 2694, 15.0, 75, 2, 'audi 100ls'),
 (178, 23.0, 4, 120.0, 88, 2957, 17.0, 75, 2, 'peugeot 504'),
 (179, 22.0, 4, 121.0, 98, 2945, 14.5, 75, 2, 'volvo 244dl'),
 (180, 25.0, 4, 121.0, 115, 2671, 13.5, 75, 2, 'saab 99le'),
 (181, 33.0, 4, 91.0, 53, 1795, 17.5, 75, 3, 'honda civic cvcc'),
 (182, 28.0, 4, 107.0, 86, 2464, 15.5, 76, 2, 'fiat 131'),
 (183, 25.0, 4, 116.0, 81, 2220, 16.9, 76, 2, 'opel 1900'),
 (184, 25.0, 4, 140.0, 92, 2572, 14.9, 76, 1, 'capri ii'),
 (185, 26.0, 4, 98.0, 79, 2255, 17.7, 76, 1, 'dodge colt'),
 (186, 27.0, 4, 101.0, 83, 2202, 15.3, 76, 2, 'renault 12tl'),
 (187,
  17.5,
  8,
  305.0,
  140,
  4215,
  13.0,
  76,
  1,
  'chevrolet chevelle malibu classic'),
 (188, 16.0, 8, 318.0, 150, 4190, 13.0, 76, 1, 'dodge coronet brougham'),
 (189, 15.5, 8, 304.0, 120, 3962, 13.9, 76, 1, 'amc matador'),
 (190, 14.5, 8, 351.0, 152, 4215, 12.8, 76, 1, 'ford gran torino'),
 (191, 22.0, 6, 225.0, 100, 3233, 15.4, 76, 1, 'plymouth valiant'),
 (192, 22.0, 6, 250.0, 105, 3353, 14.5, 76, 1, 'chevrolet nova'),
 (193, 24.0, 6, 200.0, 81, 3012, 17.6, 76, 1, 'ford maverick'),
 (194, 22.5, 6, 232.0, 90, 3085, 17.6, 76, 1, 'amc hornet'),
 (195, 29.0, 4, 85.0, 52, 2035, 22.2, 76, 1, 'chevrolet chevette'),
 (196, 24.5, 4, 98.0, 60, 2164, 22.1, 76, 1, 'chevrolet woody'),
 (197, 29.0, 4, 90.0, 70, 1937, 14.2, 76, 2, 'vw rabbit'),
 (198, 33.0, 4, 91.0, 53, 1795, 17.4, 76, 3, 'honda civic'),
 (199, 20.0, 6, 225.0, 100, 3651, 17.7, 76, 1, 'dodge aspen se'),
 (200, 18.0, 6, 250.0, 78, 3574, 21.0, 76, 1, 'ford granada ghia'),
 (201, 18.5, 6, 250.0, 110, 3645, 16.2, 76, 1, 'pontiac ventura sj'),
 (202, 17.5, 6, 258.0, 95, 3193, 17.8, 76, 1, 'amc pacer d/l'),
 (203, 29.5, 4, 97.0, 71, 1825, 12.2, 76, 2, 'volkswagen rabbit'),
 (204, 32.0, 4, 85.0, 70, 1990, 17.0, 76, 3, 'datsun b-210'),
 (205, 28.0, 4, 97.0, 75, 2155, 16.4, 76, 3, 'toyota corolla'),
 (206, 26.5, 4, 140.0, 72, 2565, 13.6, 76, 1, 'ford pinto'),
 (207, 20.0, 4, 130.0, 102, 3150, 15.7, 76, 2, 'volvo 245'),
 (208, 13.0, 8, 318.0, 150, 3940, 13.2, 76, 1, 'plymouth volare premier v8'),
 (209, 19.0, 4, 120.0, 88, 3270, 21.9, 76, 2, 'peugeot 504'),
 (210, 19.0, 6, 156.0, 108, 2930, 15.5, 76, 3, 'toyota mark ii'),
 (211, 16.5, 6, 168.0, 120, 3820, 16.7, 76, 2, 'mercedes-benz 280s'),
 (212, 16.5, 8, 350.0, 180, 4380, 12.1, 76, 1, 'cadillac seville'),
 (213, 13.0, 8, 350.0, 145, 4055, 12.0, 76, 1, 'chevy c10'),
 (214, 13.0, 8, 302.0, 130, 3870, 15.0, 76, 1, 'ford f108'),
 (215, 13.0, 8, 318.0, 150, 3755, 14.0, 76, 1, 'dodge d100'),
 (216, 31.5, 4, 98.0, 68, 2045, 18.5, 77, 3, 'honda accord cvcc'),
 (217, 30.0, 4, 111.0, 80, 2155, 14.8, 77, 1, 'buick opel isuzu deluxe'),
 (218, 36.0, 4, 79.0, 58, 1825, 18.6, 77, 2, 'renault 5 gtl'),
 (219, 25.5, 4, 122.0, 96, 2300, 15.5, 77, 1, 'plymouth arrow gs'),
 (220, 33.5, 4, 85.0, 70, 1945, 16.8, 77, 3, 'datsun f-10 hatchback'),
 (221, 17.5, 8, 305.0, 145, 3880, 12.5, 77, 1, 'chevrolet caprice classic'),
 (222, 17.0, 8, 260.0, 110, 4060, 19.0, 77, 1, 'oldsmobile cutlass supreme'),
 (223, 15.5, 8, 318.0, 145, 4140, 13.7, 77, 1, 'dodge monaco brougham'),
 (224, 15.0, 8, 302.0, 130, 4295, 14.9, 77, 1, 'mercury cougar brougham'),
 (225, 17.5, 6, 250.0, 110, 3520, 16.4, 77, 1, 'chevrolet concours'),
 (226, 20.5, 6, 231.0, 105, 3425, 16.9, 77, 1, 'buick skylark'),
 (227, 19.0, 6, 225.0, 100, 3630, 17.7, 77, 1, 'plymouth volare custom'),
 (228, 18.5, 6, 250.0, 98, 3525, 19.0, 77, 1, 'ford granada'),
 (229, 16.0, 8, 400.0, 180, 4220, 11.1, 77, 1, 'pontiac grand prix lj'),
 (230, 15.5, 8, 350.0, 170, 4165, 11.4, 77, 1, 'chevrolet monte carlo landau'),
 (231, 15.5, 8, 400.0, 190, 4325, 12.2, 77, 1, 'chrysler cordoba'),
 (232, 16.0, 8, 351.0, 149, 4335, 14.5, 77, 1, 'ford thunderbird'),
 (233, 29.0, 4, 97.0, 78, 1940, 14.5, 77, 2, 'volkswagen rabbit custom'),
 (234, 24.5, 4, 151.0, 88, 2740, 16.0, 77, 1, 'pontiac sunbird coupe'),
 (235, 26.0, 4, 97.0, 75, 2265, 18.2, 77, 3, 'toyota corolla liftback'),
 (236, 25.5, 4, 140.0, 89, 2755, 15.8, 77, 1, 'ford mustang ii 2+2'),
 (237, 30.5, 4, 98.0, 63, 2051, 17.0, 77, 1, 'chevrolet chevette'),
 (238, 33.5, 4, 98.0, 83, 2075, 15.9, 77, 1, 'dodge colt m/m'),
 (239, 30.0, 4, 97.0, 67, 1985, 16.4, 77, 3, 'subaru dl'),
 (240, 30.5, 4, 97.0, 78, 2190, 14.1, 77, 2, 'volkswagen dasher'),
 (241, 22.0, 6, 146.0, 97, 2815, 14.5, 77, 3, 'datsun 810'),
 (242, 21.5, 4, 121.0, 110, 2600, 12.8, 77, 2, 'bmw 320i'),
 (243, 21.5, 3, 80.0, 110, 2720, 13.5, 77, 3, 'mazda rx-4'),
 (244,
  43.1,
  4,
  90.0,
  48,
  1985,
  21.5,
  78,
  2,
  'volkswagen rabbit custom diesel'),
 (245, 36.1, 4, 98.0, 66, 1800, 14.4, 78, 1, 'ford fiesta'),
 (246, 32.8, 4, 78.0, 52, 1985, 19.4, 78, 3, 'mazda glc deluxe'),
 (247, 39.4, 4, 85.0, 70, 2070, 18.6, 78, 3, 'datsun b210 gx'),
 (248, 36.1, 4, 91.0, 60, 1800, 16.4, 78, 3, 'honda civic cvcc'),
 (249,
  19.9,
  8,
  260.0,
  110,
  3365,
  15.5,
  78,
  1,
  'oldsmobile cutlass salon brougham'),
 (250, 19.4, 8, 318.0, 140, 3735, 13.2, 78, 1, 'dodge diplomat'),
 (251, 20.2, 8, 302.0, 139, 3570, 12.8, 78, 1, 'mercury monarch ghia'),
 (252, 19.2, 6, 231.0, 105, 3535, 19.2, 78, 1, 'pontiac phoenix lj'),
 (253, 20.5, 6, 200.0, 95, 3155, 18.2, 78, 1, 'chevrolet malibu'),
 (254, 20.2, 6, 200.0, 85, 2965, 15.8, 78, 1, 'ford fairmont (auto)'),
 (255, 25.1, 4, 140.0, 88, 2720, 15.4, 78, 1, 'ford fairmont (man)'),
 (256, 20.5, 6, 225.0, 100, 3430, 17.2, 78, 1, 'plymouth volare'),
 (257, 19.4, 6, 232.0, 90, 3210, 17.2, 78, 1, 'amc concord'),
 (258, 20.6, 6, 231.0, 105, 3380, 15.8, 78, 1, 'buick century special'),
 (259, 20.8, 6, 200.0, 85, 3070, 16.7, 78, 1, 'mercury zephyr'),
 (260, 18.6, 6, 225.0, 110, 3620, 18.7, 78, 1, 'dodge aspen'),
 (261, 18.1, 6, 258.0, 120, 3410, 15.1, 78, 1, 'amc concord d/l'),
 (262, 19.2, 8, 305.0, 145, 3425, 13.2, 78, 1, 'chevrolet monte carlo landau'),
 (263,
  17.7,
  6,
  231.0,
  165,
  3445,
  13.4,
  78,
  1,
  'buick regal sport coupe (turbo)'),
 (264, 18.1, 8, 302.0, 139, 3205, 11.2, 78, 1, 'ford futura'),
 (265, 17.5, 8, 318.0, 140, 4080, 13.7, 78, 1, 'dodge magnum xe'),
 (266, 30.0, 4, 98.0, 68, 2155, 16.5, 78, 1, 'chevrolet chevette'),
 (267, 27.5, 4, 134.0, 95, 2560, 14.2, 78, 3, 'toyota corona'),
 (268, 27.2, 4, 119.0, 97, 2300, 14.7, 78, 3, 'datsun 510'),
 (269, 30.9, 4, 105.0, 75, 2230, 14.5, 78, 1, 'dodge omni'),
 (270, 21.1, 4, 134.0, 95, 2515, 14.8, 78, 3, 'toyota celica gt liftback'),
 (271, 23.2, 4, 156.0, 105, 2745, 16.7, 78, 1, 'plymouth sapporo'),
 (272, 23.8, 4, 151.0, 85, 2855, 17.6, 78, 1, 'oldsmobile starfire sx'),
 (273, 23.9, 4, 119.0, 97, 2405, 14.9, 78, 3, 'datsun 200-sx'),
 (274, 20.3, 5, 131.0, 103, 2830, 15.9, 78, 2, 'audi 5000'),
 (275, 17.0, 6, 163.0, 125, 3140, 13.6, 78, 2, 'volvo 264gl'),
 (276, 21.6, 4, 121.0, 115, 2795, 15.7, 78, 2, 'saab 99gle'),
 (277, 16.2, 6, 163.0, 133, 3410, 15.8, 78, 2, 'peugeot 604sl'),
 (278, 31.5, 4, 89.0, 71, 1990, 14.9, 78, 2, 'volkswagen scirocco'),
 (279, 29.5, 4, 98.0, 68, 2135, 16.6, 78, 3, 'honda accord lx'),
 (280, 21.5, 6, 231.0, 115, 3245, 15.4, 79, 1, 'pontiac lemans v6'),
 (281, 19.8, 6, 200.0, 85, 2990, 18.2, 79, 1, 'mercury zephyr 6'),
 (282, 22.3, 4, 140.0, 88, 2890, 17.3, 79, 1, 'ford fairmont 4'),
 (283, 20.2, 6, 232.0, 90, 3265, 18.2, 79, 1, 'amc concord dl 6'),
 (284, 20.6, 6, 225.0, 110, 3360, 16.6, 79, 1, 'dodge aspen 6'),
 (285, 17.0, 8, 305.0, 130, 3840, 15.4, 79, 1, 'chevrolet caprice classic'),
 (286, 17.6, 8, 302.0, 129, 3725, 13.4, 79, 1, 'ford ltd landau'),
 (287, 16.5, 8, 351.0, 138, 3955, 13.2, 79, 1, 'mercury grand marquis'),
 (288, 18.2, 8, 318.0, 135, 3830, 15.2, 79, 1, 'dodge st. regis'),
 (289, 16.9, 8, 350.0, 155, 4360, 14.9, 79, 1, 'buick estate wagon (sw)'),
 (290, 15.5, 8, 351.0, 142, 4054, 14.3, 79, 1, 'ford country squire (sw)'),
 (291,
  19.2,
  8,
  267.0,
  125,
  3605,
  15.0,
  79,
  1,
  'chevrolet malibu classic (sw)'),
 (292,
  18.5,
  8,
  360.0,
  150,
  3940,
  13.0,
  79,
  1,
  'chrysler lebaron town @ country (sw)'),
 (293, 31.9, 4, 89.0, 71, 1925, 14.0, 79, 2, 'vw rabbit custom'),
 (294, 34.1, 4, 86.0, 65, 1975, 15.2, 79, 3, 'maxda glc deluxe'),
 (295, 35.7, 4, 98.0, 80, 1915, 14.4, 79, 1, 'dodge colt hatchback custom'),
 (296, 27.4, 4, 121.0, 80, 2670, 15.0, 79, 1, 'amc spirit dl'),

In [ ]:
# see column names
col_names = [description[0] for description in c.description]
col_names

#### Filtering
Just like querying with Pandas, sometimes we want to select data that fit certain criteria. Sql queries also allow us to filter! We need to utilize the `WHERE` clause. 
`SELECT * from Tables WHERE conditions`

In [ ]:
# use pandas to select cars that weigh more than 3000 lbs
query_1_pd = auto[auto.weight > 3000]
query_1_pd.shape
auto[auto.weight > 3000].shape

In [22]:
# use sql 
query_1_sql = """SELECT COUNT(*) FROM auto WHERE weight > 3000"""

# execute the query
c.execute(query_1_sql).fetchone()

(167,)

In [27]:
# use pandas to select just the names of the cars where cylinders are greater than 5
query_2_pd = auto[auto.cylinders > 5]['car name']
len(query_2_pd)

# how many are there?
#query_2_pd.shape

186

In [34]:
# write the sql equivalent 
query_2_sql = """SELECT `car name` FROM auto WHERE cylinders > 5 """
len(c.execute(query_2_sql).fetchall())
# execute

# what is happening here? Can we troubleshoot?

186

In [120]:
# use pandas to select the names of the cars which have mpg > 15 and cynlinder less than 7 and show descending order
# by model year
a = auto[(auto.mpg > 15) & (auto.cylinders < 7)].sort_values(by = 'model year', ascending = False)
auto[auto['model year'] == 80]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
309,41.5,4,98.0,76,2144,14.7,80,2,vw rabbit
310,38.1,4,89.0,60,1968,18.8,80,3,toyota corolla tercel
311,32.1,4,98.0,70,2120,15.5,80,1,chevrolet chevette
312,37.2,4,86.0,65,2019,16.4,80,3,datsun 310
313,28.0,4,151.0,90,2678,16.5,80,1,chevrolet citation
314,26.4,4,140.0,88,2870,18.1,80,1,ford fairmont
315,24.3,4,151.0,90,3003,20.1,80,1,amc concord
316,19.1,6,225.0,90,3381,18.7,80,1,dodge aspen
317,34.3,4,97.0,78,2188,15.8,80,2,audi 4000
318,29.8,4,134.0,90,2711,15.5,80,3,toyota corona liftback
319,31.3,4,120.0,75,2542,17.5,80,3,mazda 626
320,37.0,4,119.0,92,2434,15.0,80,3,datsun 510 hatchback
321,32.2,4,108.0,75,2265,15.2,80,3,toyota corolla
322,46.6,4,86.0,65,2110,17.9,80,3,mazda glc
323,27.9,4,156.0,105,2800,14.4,80,1,dodge colt
324,40.8,4,85.0,65,2110,19.2,80,3,datsun 210
325,44.3,4,90.0,48,2085,21.7,80,2,vw rabbit c (diesel)
326,43.4,4,90.0,48,2335,23.7,80,2,vw dasher (diesel)
327,36.4,5,121.0,67,2950,19.9,80,2,audi 5000s (diesel)
328,30.0,4,146.0,67,3250,21.8,80,2,mercedes-benz 240d
329,44.6,4,91.0,67,1850,13.8,80,3,honda civic 1500 gl
331,33.8,4,97.0,67,2145,18.0,80,3,subaru dl
332,29.8,4,89.0,62,1845,15.3,80,2,vokswagen rabbit
333,32.7,6,168.0,132,2910,11.4,80,3,datsun 280-zx
334,23.7,3,70.0,100,2420,12.5,80,3,mazda rx-7 gs
335,35.0,4,122.0,88,2500,15.1,80,2,triumph tr7 coupe
337,32.4,4,107.0,72,2290,17.0,80,3,honda accord

In [112]:
# write the sql equivalent
query_3_sql = """SELECT `index`, `car name`, `model year` FROM auto 
            WHERE mpg > 15 AND cylinders < 7 
            ORDER BY `model year` DESC """
c.execute(query_3_sql).fetchall()

[(367, 'chevrolet cavalier', 82),
 (368, 'chevrolet cavalier wagon', 82),
 (369, 'chevrolet cavalier 2-door', 82),
 (370, 'pontiac j2000 se hatchback', 82),
 (371, 'dodge aries se', 82),
 (372, 'pontiac phoenix', 82),
 (373, 'ford fairmont futura', 82),
 (375, 'volkswagen rabbit l', 82),
 (376, 'mazda glc custom l', 82),
 (377, 'mazda glc custom', 82),
 (378, 'plymouth horizon miser', 82),
 (379, 'mercury lynx l', 82),
 (380, 'nissan stanza xe', 82),
 (381, 'honda accord', 82),
 (382, 'toyota corolla', 82),
 (383, 'honda civic', 82),
 (384, 'honda civic (auto)', 82),
 (385, 'datsun 310 gx', 82),
 (386, 'buick century limited', 82),
 (387, 'oldsmobile cutlass ciera (diesel)', 82),
 (388, 'chrysler lebaron medallion', 82),
 (389, 'ford granada l', 82),
 (390, 'toyota celica gt', 82),
 (391, 'dodge charger 2.2', 82),
 (392, 'chevrolet camaro', 82),
 (393, 'ford mustang gl', 82),
 (394, 'vw pickup', 82),
 (395, 'dodge rampage', 82),
 (396, 'ford ranger', 82),
 (397, 'chevy s-10', 82),
 (338, 'plymouth reliant', 81),
 (339, 'buick skylark', 81),
 (340, 'dodge aries wagon (sw)', 81),
 (341, 'chevrolet citation', 81),
 (342, 'plymouth reliant', 81),
 (343, 'toyota starlet', 81),
 (344, 'plymouth champ', 81),
 (345, 'honda civic 1300', 81),
 (346, 'subaru', 81),
 (347, 'datsun 210 mpg', 81),
 (348, 'toyota tercel', 81),
 (349, 'mazda glc 4', 81),
 (350, 'plymouth horizon 4', 81),
 (351, 'ford escort 4w', 81),
 (352, 'ford escort 2h', 81),
 (353, 'volkswagen jetta', 81),
 (355, 'honda prelude', 81),
 (356, 'toyota corolla', 81),
 (357, 'datsun 200sx', 81),
 (358, 'mazda 626', 81),
 (359, 'peugeot 505s turbo diesel', 81),
 (360, 'volvo diesel', 81),
 (361, 'toyota cressida', 81),
 (362, 'datsun 810 maxima', 81),
 (363, 'buick century', 81),
 (365, 'ford granada gl', 81),
 (366, 'chrysler lebaron salon', 81),
 (309, 'vw rabbit', 80),
 (310, 'toyota corolla tercel', 80),
 (311, 'chevrolet chevette', 80),
 (312, 'datsun 310', 80),
 (313, 'chevrolet citation', 80),
 (314, 'ford fairmont', 80),
 (315, 'amc concord', 80),
 (316, 'dodge aspen', 80),
 (317, 'audi 4000', 80),
 (318, 'toyota corona liftback', 80),
 (319, 'mazda 626', 80),
 (320, 'datsun 510 hatchback', 80),
 (321, 'toyota corolla', 80),
 (322, 'mazda glc', 80),
 (323, 'dodge colt', 80),
 (324, 'datsun 210', 80),
 (325, 'vw rabbit c (diesel)', 80),
 (326, 'vw dasher (diesel)', 80),
 (327, 'audi 5000s (diesel)', 80),
 (328, 'mercedes-benz 240d', 80),
 (329, 'honda civic 1500 gl', 80),
 (331, 'subaru dl', 80),
 (332, 'vokswagen rabbit', 80),
 (333, 'datsun 280-zx', 80),
 (334, 'mazda rx-7 gs', 80),
 (335, 'triumph tr7 coupe', 80),
 (337, 'honda accord', 80),
 (280, 'pontiac lemans v6', 79),
 (281, 'mercury zephyr 6', 79),
 (282, 'ford fairmont 4', 79),
 (283, 'amc concord dl 6', 79),
 (284, 'dodge aspen 6', 79),
 (293, 'vw rabbit custom', 79),
 (294, 'maxda glc deluxe', 79),
 (295, 'dodge colt hatchback custom', 79),
 (296, 'amc spirit dl', 79),
 (297, 'mercedes benz 300d', 79),
 (299, 'peugeot 504', 79),
 (301, 'plymouth horizon', 79),
 (302, 'plymouth horizon tc3', 79),
 (303, 'datsun 210', 79),
 (304, 'fiat strada custom', 79),
 (305, 'buick skylark limited', 79),
 (306, 'chevrolet citation', 79),
 (307, 'oldsmobile omega brougham', 79),
 (308, 'pontiac phoenix', 79),
 (244, 'volkswagen rabbit custom diesel', 78),
 (245, 'ford fiesta', 78),
 (246, 'mazda glc deluxe', 78),
 (247, 'datsun b210 gx', 78),
 (248, 'honda civic cvcc', 78),
 (252, 'pontiac phoenix lj', 78),
 (253, 'chevrolet malibu', 78),
 (254, 'ford fairmont (auto)', 78),
 (255, 'ford fairmont (man)', 78),
 (256, 'plymouth volare', 78),
 (257, 'amc concord', 78),
 (258, 'buick century special', 78),
 (259, 'mercury zephyr', 78),
 (260, 'dodge aspen', 78),
 (261, 'amc concord d/l', 78),
 (263, 'buick regal sport coupe (turbo)', 78),
 (266, 'chevrolet chevette', 78),
 (267, 'toyota corona', 78),
 (268, 'datsun 510', 78),
 (269, 'dodge omni', 78),
 (270, 'toyota celica gt liftback', 78),
 (271, 'plymouth sapporo', 78),
 (272, 'oldsmobile starfire sx', 78),
 (273, 'datsun 200-sx', 78),
 (274, 'audi 5000', 78),
 (275, 'volvo 264gl', 78),
 (276, 'saab 99gle', 78),
 (277, 'peugeot 604sl', 78),
 (278, 'volkswagen scirocco', 78),
 (279, 'honda accord lx', 78),
 (216, 'honda accord cvcc', 77),
 (217, 'buick opel isuzu deluxe', 77),
 (218, 'renault 5 gtl', 77),
 (219, 'plymouth arrow gs', 77),
 (220, 'datsun f-10 hatchback', 77),
 (225, 'chevrolet concours', 77),
 (226, 'buick skylark', 77),
 (227, 'plymouth volare custom', 77),
 (228, 'ford granada', 77),
 (233, 'volkswagen rabbit custom', 77),
 (234, 'pontiac sunbird coupe', 77),
 (235, 'toyota corolla liftback', 77),
 (236, 'ford mustang ii 2+2', 77),
 (237, 'chevrolet chevette', 77),
 (238, 'dodge colt m/m', 77),
 (239, 'subaru dl', 77),
 (240, 'volkswagen dasher', 77),
 (241, 'datsun 810', 77),
 (242, 'bmw 320i', 77),
 (243, 'mazda rx-4', 77),
 (182, 'fiat 131', 76),
 (183, 'opel 1900', 76),
 (184, 'capri ii', 76),
 (185, 'dodge colt', 76),
 (186, 'renault 12tl', 76),
 (191, 'plymouth valiant', 76),
 (192, 'chevrolet nova', 76),
 (193, 'ford maverick', 76),
 (194, 'amc hornet', 76),
 (195, 'chevrolet chevette', 76),
 (196, 'chevrolet woody', 76),
 (197, 'vw rabbit', 76),
 (198, 'honda civic', 76),
 (199, 'dodge aspen se', 76),
 (200, 'ford granada ghia', 76),
 (201, 'pontiac ventura sj', 76),
 (202, 'amc pacer d/l', 76),
 (203, 'volkswagen rabbit', 76),
 (204, 'datsun b-210', 76),
 (205, 'toyota corolla', 76),
 (206, 'ford pinto', 76),
 (207, 'volvo 245', 76),
 (209, 'peugeot 504', 76),
 (210, 'toyota mark ii', 76),
 (211, 'mercedes-benz 280s', 76),
 (152, 'plymouth valiant custom', 75),
 (153, 'chevrolet nova', 75),
 (160, 'buick century', 75),
 (161, 'chevroelt chevelle malibu', 75),
 (163, 'plymouth fury', 75),
 (164, 'buick skyhawk', 75),
 (167, 'toyota corolla', 75),
 (168, 'ford pinto', 75),
 (169, 'amc gremlin', 75),
 (170, 'pontiac astro', 75),
 (171, 'toyota corona', 75),
 (172, 'volkswagen dasher', 75),
 (173, 'datsun 710', 75),
 (174, 'ford pinto', 75),
 (175, 'volkswagen rabbit', 75),
 (176, 'amc pacer', 75),
 (177, 'audi 100ls', 75),
 (178, 'peugeot 504', 75),
 (179, 'volvo 244dl', 75),
 (180, 'saab 99le', 75),
 (181, 'honda civic cvcc', 75),
 (125, 'plymouth duster', 74),
 (127, 'amc hornet', 74),
 (129, 'datsun b210', 74),
 (130, 'ford pinto', 74),
 (131, 'toyota corolla 1200', 74),
 (132, 'chevrolet vega', 74),
 (133, 'chevrolet chevelle malibu classic', 74),
 (134, 'amc matador', 74),
 (135, 'plymouth satellite sebring', 74),
 (141, 'audi fox', 74),
 (142, 'volkswagen dasher', 74),
 (143, 'opel manta', 74),
 (144, 'toyota corona', 74),
 (145, 'datsun 710', 74),
 (146, 'dodge colt', 74),
 (147, 'fiat 128', 74),
 (148, 'fiat 124 tc', 74),
 (149, 'honda civic', 74),
 (150, 'subaru', 74),
 (151, 'fiat x1.9', 74),
 (97, 'plymouth valiant', 73),
 (98, 'chevrolet nova custom', 73),
 (99, 'amc hornet', 73),
 (100, 'ford maverick', 73),
 (101, 'plymouth duster', 73),
 (102, 'volkswagen super beetle', 73),
 (107, 'amc gremlin', 73),
 (108, 'toyota carina', 73),
 (109, 'chevrolet vega', 73),
 (110, 'datsun 610', 73),
 (111, 'maxda rx3', 73),
 (112, 'ford pinto', 73),
 (113, 'mercury capri v6', 73),
 (114, 'fiat 124 sport coupe', 73),
 (117, 'fiat 128', 73),
 (118, 'opel manta', 73),
 (119, 'audi 100ls', 73),
 (120, 'volvo 144ea', 73),
 (122, 'saab 99le', 73),
 (123, 'toyota mark ii', 73),
 (57, 'toyota corona hardtop', 72),
 (58, 'dodge colt hardtop', 72),
 (59, 'volkswagen type 3', 72),
 (60, 'chevrolet vega', 72),
 (61, 'ford pinto runabout', 72),
 (71, 'mazda rx2 coupe', 72),
 (76, 'volvo 145e (sw)', 72),
 (77, 'volkswagen 411 (sw)', 72),
 (78, 'peugeot 504 (sw)', 72),
 (79, 'renault 12 (sw)', 72),
 (80, 'ford pinto (sw)', 72),
 (81, 'datsun 510 (sw)', 72),
 (82, 'toyouta corona mark ii (sw)', 72),
 (83, 'dodge colt (sw)', 72),
 (84, 'toyota corolla 1600 (sw)', 72),
 (29, 'datsun pl510', 71),
 (30, 'chevrolet vega 2300', 71),
 (31, 'toyota corona', 71),
 (33, 'amc gremlin', 71),
 (34, 'plymouth satellite custom', 71),
 (35, 'chevrolet chevelle malibu', 71),
 (36, 'ford torino 500', 71),
 (37, 'amc matador', 71),
 (45, 'amc hornet sportabout (sw)', 71),
 (46, 'chevrolet vega (sw)', 71),
 (47, 'pontiac firebird', 71),
 (48, 'ford mustang', 71),
 (49, 'mercury capri 2000', 71),
 (50, 'opel 1900', 71),
 (51, 'peugeot 304', 71),
 (52, 'fiat 124b', 71),
 (53, 'toyota corolla 1200', 71),
 (54, 'datsun 1200', 71),
 (55, 'volkswagen model 111', 71),
 (56, 'plymouth cricket', 71),
 (14, 'toyota corona mark ii', 70),
 (15, 'plymouth duster', 70),
 (16, 'amc hornet', 70),
 (17, 'ford maverick', 70),
 (18, 'datsun pl510', 70),
 (19, 'volkswagen 1131 deluxe sedan', 70),
 (20, 'peugeot 504', 70),
 (21, 'audi 100 ls', 70),
 (22, 'saab 99e', 70),
 (23, 'bmw 2002', 70),
 (24, 'amc gremlin', 70)]

In [ ]:
# exercise - 
query_3_pd = None

In [ ]:
# use sql to recreate it 
query_3_sql =  None
c.execute(query_3_sql).fetchall()

### This afternoon:
- Grouping
- Joining

#### Joining
<img src ='sql-joins.png' width = 400>